{% extends 'base.html' %}


{% block javascript %}

<script>

  var invoiceID = {{ invoiceID }};  
  var userid =   {{ user.id }} ;
  //alert(userid);

  function handleSubmit()
    {

      var forms = document.getElementsByClassName('needs-validation');
      var form = forms[0];
      if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
form.classList.add('was-validated');
}
else
{
  event.preventDefault();
event.stopPropagation();
  saveInvoice(invoiceID);

}

      
      

    }

  function onDocumentReady() {



    loadClientData();

    $("#addRowButton").click(function () {
      addRow();
    });

    $("#removeRowButton").click(function () {
      deleteRow();
    });



    
     
  }

</script>

{% endblock %}


{% block content %}


<div class="container">

  <div class="row">
    <p id="actionType" class="text-primary"  style="font-size:x-large;"> New Invoice</p>
  </div>
  <div class="row">
    <div class="col-md-3">

      <div class="form-group">                
        <h4 >Clients</h4>
        <select class="form-control" id="clientList">
        </select>
      </div>    </div>

    <div class="col-md-9">
      <div class="row">

        <div class="col-md">
          <h4 >Invoice Number</h4>
        </div>
        <div class="col-md">
          <h4 id="invoice_number"> {{ new_invoiceNumber }}</h4>

        </div>
        <div class="col-md">
          <h4>Version</h4>
        </div>
        <div class="col-md">
          <h4 id="version">1</h4>

        </div>
      </div>

    </div>

  </div>
</div>

<form class="needs-validation" novalidate onsubmit="handleSubmit()">

<div class="container">
  {% csrf_token %}
  <table class="table table-hover table border">
    <thead>
      <tr>
        <th  class="text-primary" >Select</th>
        <th class="text-primary" >Item</th>
        <th class="text-primary" >Description</th>
        <th class="text-primary" >Unit Cost</th>
        <th class="text-primary" >Qty / Hr Rate</th>
        <th class="text-primary" >Amount</th>
      </tr>
    </thead>
    <tr>


    </tr>
    <tfoot>
      <tr>
        <th colspan="4">
          <div clas="row">
            <input type="button" id="addRowButton" class="btn btn-info" value="Add Row">
            <button type="button" id="removeRowButton" class="btn btn-info">Delete checked Rows</button>
          </div>
        </th>

        <th>
          <div>
            <h4 class="text-primary"> Sub Total </h4>
          </div>
        </th>
        <th>
          <div>
            <h4   id='subtotal'> </h4>
          </div>
        </th>
      </tr>
      <tr>
        <th colspan="4"></th>
        <th>
          <div>
            <h4 class="text-primary"> Tax </h4>
          </div>
        </th>
        <th>
          <input type='number' step="0.01"  required onChange='handleGridItemChange(-1)' class='form-control' id='tax'
            placeholder='Tax'></input><div class='invalid-feedback'> Please enter tax  (up to 2 decimal places) </div></th>
        </th>
      </tr>
      <tr>
        <th colspan="4"></th>
        <th>
          <div>
            <h4 class="text-primary"> Total </h4>
          </div>
        </th>
        <th>
          <div>
            <h4 id='grandTotal'> 0000 </h4>
          </div>
        </th>
      </tr>
      </tr>


      <tr>
        <th colspan="6">          
          <input type='text' required class='form-control' id='invoice_terms' placeholder='Invoice terms' ></input><div class='invalid-feedback'> Please enter Invoice terms </div>
          

        </th>      </tr>
      <tr>
        <th colspan="6" class="text-right">

          <button type="button" id="deleteButton" class="btn btn-danger" onclick="deleteInvoice(invoiceID)">Delete
            Invoice</button>          
            <button class="btn btn-primary" id="submitButton" type="submit">Save Invoice</button>  

        </th>


      </tr>
    </tfoot>


  </table>


</div>
</form






{% endblock %}